
.b_main{
    background: #e5e5e5;
}

.b_umain{
    background: #00A0EA;
}

.b_tmain {
    background: #E50150;
}

.b_usub {
    background: #F29700;
}

.b_tsub {
    background: #F29700;
}
.b_gray_1 {
    background: #E5E5E5;
}
.b_blue {
    background: #00A0EA;
}

.b_sky {
    background: #B3E1FB;
}
.b_blue1 {
    background: #3777d4;
}
.b_kon {
    background: #1D2089;
}

.b_yellow {
    background: #ffff00;
}

.b_pink {
    background: #E5007F;
}

.b_green {
    background: #8FC320;
}
.b_red {
    background: #E50150;
}
.b_orange {
    background: #F29700;
}

.b_gray {
    background: #B2B2B2;
}

.b_gray1 {
    background: #EEEEEE;
}
.b_gray2 {
    background: #CCCCCC;
}
.b_gray3 {
    background: #F2F2F2;
}
.b_gray4{
    background: #e5e5e5;
}

.b_white {
    background: #FFFFFF;
}

.b_black {
    background: #000000;
}
.b_drak {
    background: #eeeeee;
}
.b_drak2 {
    background: #e5e5e5;
}
.b_none {
    background: none;
}


.b1{
    background: #E5004F;
}
.b2{
    background: #E4007F;
}
.b3{
    background: #F19EC2;
}
.b4{
    background: #E60012;
}
.b5{
    background: #B60081;
}
.b6{
    background: #7F1084;
}
.b7{
    background: #1D2088;
}
.b8{
    background: #0068B7;
}
.b9{
    background: #00A0E9;
}
.b10{
    background: #54C3F1;
}
.b11{
    background: #8F82BC;
}
.b12{
    background: #009E96;
}
.b13{
    background: #009944;
}
.b14{
    background: #8FC31F;
}
.b15{
    background: #F39800;
}
.b16{
    background: #C1AB04;
}
.b17{
    background: #0081A4;
}
.b18{
    background: #B70868;
}
.b19{
    background: #231815;
}
.b20{
    background: #666464;
}
.b21{
    background: #9FA0A0;
}

.bc_gray1{
    background-color: #4d81ed;
}
.bc_white{
    background-color: #fff;
}