
.c_umain{
    color: #00A0EA;
}

.c_tmain {
    color: #E50150;
}

.c_usub {
    color: #F29700;
}

.c_tsub {
    color: #F29700;
}

.c_blue {
    color: #00A0EA;
}
.c_white {
    color: #FFFFFF;
}
.c_gray {
    color: #B2B2B2;
}
.c_gray1 {
    color: #CCCCCC;
}
.c_red {
    color: #E50150;
}
.c_green_1 {
    color: #83B42E;
}
.c_black {
    color: #000000;
}
.c_green {
    color: #4d81ed;
}
.c_orange {
	color: orange;
}
.c1{
	color: #E5004F;
}
.c2{
	color: #E4007F;
}
.c3{
	color: #F19EC2;
}
.c4{
	color: #E60012;
}
.c5{
	color: #B60081;
}
.c6{
	color: #7F1084;
}
.c7{
	color: #1D2088;
}
.c8{
	color: #0068B7;
}
.c9{
	color: #00A0E9;
}
.c10{
	color: #54C3F1;
}
.c11{
	color: #8F82BC;
}
.c12{
	color: #009E96;
}
.c13{
	color: #009944;
}
.c14{
	color: #8FC31F;
}
.c15{
	color: #F39800;
}
.c16{
	color: #C1AB04;
}
.c17{
	color: #0081A4;
}
.c18{
	color: #B70868;
}
.c19{
	color: #231815;
}
.c20{
	color: #666464;
}
.c21{
	color: #9FA0A0;
}
.c22{
	color: #1e9ad5;
}
.c23{
	color: #286bcc;
}
.c24{
	color: #02735f;
}
.c25{
	color: #74c14a;
}
.c26{
	color: #286bcc;
}
.c27{
	color: #4d81ed;
}
.c_line_blue{
	color: #2F74CD;
}