.pa     {padding:auto;}
.p0     {padding:0rem;}
.p02    {padding:0.2rem;}
.p04    {padding:0.4rem;}
.p06    {padding:0.6rem;}
.p08    {padding:0.8rem;}
.p10    {padding:1rem;}
.p12    {padding:1.2rem;}
.p14    {padding:1.4rem;}
.p16    {padding:1.6rem;}
.p18    {padding:1.8rem;}
.p20    {padding:2rem;}
.p24    {padding:2.4rem;}
.p28    {padding:2.8rem;}
.p32    {padding:3.2rem;}
.p36    {padding:3.6rem;}
.p40    {padding:4rem;}
.p44    {padding:4.4rem;}
.p48    {padding:4.8rem;}
.p50    {padding:5rem;}
.p52    {padding:5.2rem;}
.p56    {padding:5.6rem;}
.p60    {padding:6rem;}
.p64    {padding:6.4rem;}
.p68    {padding:6.8rem;}
.p72    {padding:7.2rem;}
.p76    {padding:7.6rem;}
.p80    {padding:8rem;}
.p84    {padding:8.4rem;}
.p88    {padding:8.8rem;}
.p92    {padding:9.2rem;}
.p96    {padding:9.6rem;}
.p100   {padding:10rem;}
.pta    {padding-top:auto;}
.pt0    {padding-top:0rem;}
.pt02   {padding-top:0.2rem;}
.pt04   {padding-top:0.4rem;}
.pt05   {padding-top:0.5rem;}
.pt06   {padding-top:0.6rem;}
.pt08   {padding-top:0.8rem;}
.pt10   {padding-top:1rem;}
.pt12   {padding-top:1.2rem;}
.pt14   {padding-top:1.4rem;}
.pt16   {padding-top:1.6rem;}
.pt18   {padding-top:1.8rem;}
.pt20   {padding-top:2rem;}
.pt24   {padding-top:2.4rem;}
.pt28   {padding-top:2.8rem;}
.pt32   {padding-top:3.2rem;}
.pt36   {padding-top:3.6rem;}
.pt40   {padding-top:4rem;}
.pt44   {padding-top:4.4rem;}
.pt48   {padding-top:4.8rem;}
.pt52   {padding-top:5.2rem;}
.pt56   {padding-top:5.6rem;}
.pt60   {padding-top:6rem;}
.pt64   {padding-top:6.4rem;}
.pt68   {padding-top:6.8rem;}
.pt72   {padding-top:7.2rem;}
.pt76   {padding-top:7.6rem;}
.pt80   {padding-top:8rem;}
.pt84   {padding-top:8.4rem;}
.pt88   {padding-top:8.8rem;}
.pt92   {padding-top:9.2rem;}
.pt96   {padding-top:9.6rem;}
.pt100  {padding-top:10rem;}
.pt200  {padding-top:20rem;}
.pt180  {padding-top:18rem;}
.pba    {padding-bottom:auto;}
.pb0    {padding-bottom:0rem;}
.pb02   {padding-bottom:0.2rem;}
.pb04   {padding-bottom:0.4rem;}
.pb06   {padding-bottom:0.6rem;}
.pb08   {padding-bottom:0.8rem;}
.pb10   {padding-bottom:1rem;}
.pb12   {padding-bottom:1.2rem;}
.pb14   {padding-bottom:1.4rem;}
.pb16   {padding-bottom:1.6rem;}
.pb18   {padding-bottom:1.8rem;}
.pb20   {padding-bottom:2rem;}
.pb24   {padding-bottom:2.4rem;}
.pb28   {padding-bottom:2.8rem;}
.pb32   {padding-bottom:3.2rem;}
.pb36   {padding-bottom:3.6rem;}
.pb40   {padding-bottom:4rem;}
.pb44   {padding-bottom:4.4rem;}
.pb48   {padding-bottom:4.8rem;}
.pb52   {padding-bottom:5.2rem;}
.pb56   {padding-bottom:5.6rem;}
.pb60   {padding-bottom:6rem;}
.pb64   {padding-bottom:6.4rem;}
.pb68   {padding-bottom:6.8rem;}
.pb72   {padding-bottom:7.2rem;}
.pb76   {padding-bottom:7.6rem;}
.pb80   {padding-bottom:8rem;}
.pb84   {padding-bottom:8.4rem;}
.pb88   {padding-bottom:8.8rem;}
.pb92   {padding-bottom:9.2rem;}
.pb96   {padding-bottom:9.6rem;}
.pb100  {padding-bottom:10rem;}
.pb200  {padding-bottom:20rem;}
.pb250  {padding-bottom:25rem;}
.pra    {padding-right:auto;}
.pr0    {padding-right:0rem;}
.pr02   {padding-right:0.2rem;}
.pr04   {padding-right:0.4rem;}
.pr06   {padding-right:0.6rem;}
.pr08   {padding-right:0.8rem;}
.pr10   {padding-right:1rem;}
.pr12   {padding-right:1.2rem;}
.pr14   {padding-right:1.4rem;}
.pr16   {padding-right:1.6rem;}
.pr18   {padding-right:1.8rem;}
.pr20   {padding-right:2rem;}
.pr24   {padding-right:2.4rem;}
.pr28   {padding-right:2.8rem;}
.pr30   {padding-right:3.0rem;}
.pr35   {padding-right:3.5rem;}
.pr32   {padding-right:3.2rem;}
.pr36   {padding-right:3.6rem;}
.pr40   {padding-right:4rem;}
.pr44   {padding-right:4.4rem;}
.pr48   {padding-right:4.8rem;}
.pr52   {padding-right:5.2rem;}
.pr56   {padding-right:5.6rem;}
.pr60   {padding-right:6rem;}
.pr64   {padding-right:6.4rem;}
.pr68   {padding-right:6.8rem;}
.pr72   {padding-right:7.2rem;}
.pr76   {padding-right:7.6rem;}
.pr80   {padding-right:8rem;}
.pr84   {padding-right:8.4rem;}
.pr88   {padding-right:8.8rem;}
.pr92   {padding-right:9.2rem;}
.pr96   {padding-right:9.6rem;}
.pr100  {padding-right:10rem;}
.pr-02  {padding-right:-0.2rem;}
.pr-04  {padding-right:-0.4rem;}
.pr-06  {padding-right:-0.6rem;}
.pr-08  {padding-right:-0.8rem;}
.pr-10  {padding-right:-1rem;}
.pr-12  {padding-right:-1.2rem;}
.pr-16  {padding-right:-1.6rem;}
.pr-20  {padding-right:-2rem;}
.pr-24  {padding-right:-2.4rem;}
.pr-28  {padding-right:-2.8rem;}
.pr-32  {padding-right:-3.2rem;}
.pr-36  {padding-right:-3.6rem;}
.pr-40  {padding-right:-4rem;}
.pr-44  {padding-right:-4.4rem;}
.pr-48  {padding-right:-4.8rem;}
.pr-52  {padding-right:-5.2rem;}
.pr-56  {padding-right:-5.6rem;}
.pr-60  {padding-right:-6rem;}
.pr-64  {padding-right:-6.4rem;}
.pr-68  {padding-right:-6.8rem;}
.pr-72  {padding-right:-7.2rem;}
.pr-76  {padding-right:-7.6rem;}
.pr-80  {padding-right:-8rem;}
.pr-84  {padding-right:-8.4rem;}
.pr-88  {padding-right:-8.8rem;}
.pr-92  {padding-right:-9.2rem;}
.pr-96  {padding-right:-9.6rem;}
.pr-100 {padding-right:-10rem;}
.pla    {padding-left:auto;}
.pl0    {padding-left:0rem;}
.pl02   {padding-left:0.2rem;}
.pl04   {padding-left:0.4rem;}
.pl06   {padding-left:0.6rem;}
.pl08   {padding-left:0.8rem;}
.pl10   {padding-left:1rem;}
.pl12   {padding-left:1.2rem;}
.pl14   {padding-left:1.4rem;}
.pl16   {padding-left:1.6rem;}
.pl18   {padding-left:1.8rem;}
.pl20   {padding-left:2rem;}
.pl24   {padding-left:2.4rem;}
.pl28   {padding-left:2.8rem;}
.pl30   {padding-left:3.0rem;}
.pl32   {padding-left:3.2rem;}
.pl35   {padding-left:3.5rem;}
.pl36   {padding-left:3.6rem;}
.pl40   {padding-left:4rem;}
.pl44   {padding-left:4.4rem;}
.pl48   {padding-left:4.8rem;}
.pl52   {padding-left:5.2rem;}
.pl56   {padding-left:5.6rem;}
.pl60   {padding-left:6rem;}
.pl64   {padding-left:6.4rem;}
.pl68   {padding-left:6.8rem;}
.pl72   {padding-left:7.2rem;}
.pl76   {padding-left:7.6rem;}
.pl80   {padding-left:8rem;}
.pl84   {padding-left:8.4rem;}
.pl88   {padding-left:8.8rem;}
.pl92   {padding-left:9.2rem;}
.pl96   {padding-left:9.6rem;}
.pl100  {padding-left:10rem;}
.ptb02 {
    padding: 0.2rem 0;
}
.ptb03 {
    padding: 0.3rem 0;
}
.ptb04 {
    padding: 0.4rem 0;
}
.ptb08 {
    padding: 0.8rem 0;
}
.ptb12 {
    padding: 1.2rem 0;
}
.ptb16 {
    padding: 1.6rem 0;
}
.ptb20 {
    padding: 2rem 0;
}

.plr02 {
    padding:0 0.2rem;
}
.plr04 {
    padding:0 0.4rem;
}
.plr08 {
    padding:0 0.8rem;
}
.plr12 {
    padding:0 1.2rem;
}
.plr16 {
    padding:0 1.6rem;
}
.plr10 {
    padding:0 1rem;
}
.plr20 {
    padding:0 2rem;
}
.plr40 {
    padding:0 4rem;
}
.plr60 {
    padding:0 6rem;
}
