<ons-page class="trainer_list" ng-controller="KotobaFavoritController">
	<ons-toolbar >
		<div class="left">
			<div class="btn" ng-click="tl.menu.toggleMenu();"><img src="images/common/btn_menu.png" alt="" class="bargar"></div>
		</div>
		<div class="center h100 flex flex_center_align-items">
			<span class="text_center font20 c_white">Từ vựng ghi nhớ</span>
		</div>

	</ons-toolbar>
	<!-- ng-repeat="item in items" -->
	<div class="mt02">
<!-- 		<ons-list class="b_gray1">
			<ons-list-item class="card m0" ng-repeat="kotoba in kotoba_list | orderBy:column | filter:filter:false" >

				
			</ons-list-item>
		</ons-list> -->

	    <ons-item class="card">
	    	<ons-list-item  ng-repeat="list_favorit in list_favorit | orderBy:'-create_date'" >
		        <div class="">
		            <div class="box flex under_line flex_center_align-items">
		                <div class="w70 " ng-click="open_list(list_favorit)">
		                	<span class="c23 ">{{list_favorit.title}}</span>
		                </div>
		                <div class="flex_right" ng-click="remove_favorit(list_favorit)">
							<ons-icon size="35px" icon="ion-ios-minus-outline"></ons-icon>
						</div>
		            </div>

		        </div>
				
			</ons-list-item>

    </ons-item>
	</div>
	<div style="text-align: center" ng-if ="is_show_error">
		<div>Không có từ vựng nào được ghi nhớ</div>
	</div>
</ons-page>