<nav id="globalNavi" class="scroll border-box">
	<div class="flex flex_space_between flex_direction_row bc_gray1" ng-model="login">
		<div class="logo b_none  mt20 w55 align_c bc_gray1">
			<!-- <img class="square44 maru pro_image bc_white" src="images/common/sidemenu_logo.png" > -->
			<ons-icon
				  icon="ion-android-happy"
				  size="50px"
				  fixed-width="false"
				  style="color: white">
			</ons-icon>
			<div class="w55 align_c">
				<span class="font13 c_white" >{{username}}</span>	
			</div>
		</div>
		<div class="box card normal border border_white bc_gray1 align_c " ng-if="!login" >
			<!-- <img class="square22 maru pro_image bc_white" src="images/icon/ios7-heart-outline.png" alt=""> -->
			<span class="text_center font14 c_white" data-num="0" ng-click="menu_click($event);registration();">Đăng nhập</span>
		</div>
		<div class="box card normal border border_white bc_gray1 align_c " ng-if="login">
			<!-- <img class="square22 maru pro_image bc_white" src="images/icon/ios7-heart-outline.png" alt=""> -->
			<span class="text_center font14 c_white" data-num="0" ng-click="menu_click($event);logout();">Thoat</span>
		</div>
	</div>
	<ul>
		<li ng-click="menu_click($event);tuvung();"><a data-num="1" class="current"><span class="no_click">Từ vựng </span></a></li>
		<li ng-click="menu_click($event);footer('base_timeline');timeline();"><a data-num="2"><span class="no_click">Chuyên ngành</span></a></li>
		<li ng-click="menu_click($event);footer('base_mytraining');MyTraining();"><a data-num="3"><span class="no_click">Hỏi đáp</span></a></li>
		<li ng-click="menu_click($event);footer('base_trainer_list');trainer_list();"><a data-num="4"><span class="no_click">Tư vấn</span></a></li>
		<li ng-click="menu_click($event);footer('base_mytraining');MyTraining();"><a data-num="5"><span class="b_none_click">Hỏi đáp</span></a></li>
		<li ng-click="menu_click($event);footer('base_trainer_list');trainer_list();"><a data-num="6"><span class="no_click">Tư vấn</span></a></li>
		
	</ul>

</nav>