<ons-page class="mytraining_training_list training_menu_list" ng-controller="MyTrainingListController">

	<ons-toolbar id="globalHeader">
		<div class="left">
			<div class="btn" ng-click="menuOpen();"><img src="images/common/btn_menu.png" alt="" class="bargar"></div>
		</div>
		<div class="center h100 flex flex_center_align-items">
			<img src="images/common/header_logo.png" alt="" height="35" width="156">
		</div>
		<!--<div class="center">
			タイムライン
		</div>-->
		<div class="right square40 mr04">
			<div class="btn mt04 relative" ng-click="main_navigator.pushPage('Profile/profile_main.html', {animation: 'slide'})">
				<!--<div class="square40 maru" style="    z-index: 1;
				    position: absolute;
				    /* float: left; */
				    background-color: #fff;
				    opacity: 0.5;"></div>-->
				<div class="absolute"><img ng-src="{{profile_url}}"  class="pro_image square40 maru "></div>
			</div>
		</div>
	</ons-toolbar>
<!-- 	<div class="navigation-bar" style="position: fixed; top: 4%; height: 2%"> -->
	<div class="flex b_black">
		<div class="align_c w50 c_gray mtb12 border_r c_border_umain" ng-click="main_navigator.resetToPage('UserHome/user_home.html',{ animation : 'none' });" >
				ホーム
		</div>
		<div class="align_c w50 c_umain mtb12" ng-click="main_navigator.resetToPage('UserHome/user_train.html',{ animation : 'none' });">
				トレーニング／管理
		</div>
	</div>
<!-- 	</div>
	<div id="scrollToppage"></div>
	<div class="mt37" ></div> -->
	<ons-button class="w100 p0 b_none no_radius" ng-click="meal();"><img src="images/food_btn1.png" alt="" class="w100"></ons-button>
	<ons-button class="w100 p0 b_none no_radius" ng-click="weight();"><img src="images/food_btn2.png" alt="" class="w100">></ons-button>
	<div class="box">
		<h3 class="h3_1 c_umain mb08">マイトレ</h3>
		<ons-list>
			<ons-list-item modifier="tappable" class="flex mb04 kadomaru_s" ng-repeat="mytrain in mytrain_list" ng-click="click($index)">
				<!--<div class="w30 thumb kadomaru_l">
				</div>-->
				<div class="w30 kadomaru_l" ng-style="{{mytrain.top_image}}">
				</div>
				<div class="w60 pt04 pb04 pl08 pr08">
					<h4 class="h4_2 m0 text_over">{{ mytrain.menu }}</h4>
					<div class="flex">
						<div class="w50 flex_left">
							<div class="text_over font10">
								{{ mytrain.name }}・動画数
							</div>
							<div class="text_over font10">
								{{ mytrain.movie_count }} 本
							</div>
							<div class="text_over font10">
								サイドチェスト
							</div>
						</div>
					</div>
				</div>
				<div class="w10 flex_center align_c c_umain">
					<ons-icon icon="fa-chevron-circle-right"></ons-icon>
				</div>
			</ons-list-item>
			<div class="align_c mt20">
				<ons-button class="main_btn pt04 pb04 pl08 pr08 mb20 w60" ng-click="main_navigator.pushPage('MyTraining/mytraining_detail/mytraining_add.html')">
					<div class="flex">
						<div class="w10 flex_center align_c">
							<ons-icon icon="ion-ios-plus-outline"></ons-icon>
						</div>
						<div class="w80 align_c flex_center">
							マイトレを追加
						</div>
						<div class="w10 flex_center align_c">
						</div>
					</div>
				</ons-button>
			</div>
		</ons-list>
	</div>

</ons-page>



