<ons-page>
<ons-navigator id="myNavigator" var="main_navigator" animation="none" page="HomeMenu/user_home.html"></ons-navigator>

<ons-bottom-toolbar>
	<footer id="globalFooter">
		<nav>
			<ul>
				<li ng-click="circle_open_timeline($event)" ng-class="{ 'current': timeline_base ,'check': timeline_base2 }">
					<a></a>
					<span class="circle_timeline">
						<div class="timeline"><a data-num="1" ng-click="menu_click($event);footer('base_timeline'); timeline($event);">タイムライン</a></div>
						<div class="calendar">
							<a data-num="1" ng-click="menu_click($event);footer('base_timeline'); calendar($event);">
								<icon class="font20 maru bold b_tmain c_white square35 fa fa-calendar" style="background: #FFF;color: #00A0E9; line-height: 1.5"></icon>
							カレンダー</a>
						</div>
					</span>
				</li>
				<li ng-class="{ 'current': mytraining_base }"><a data-num="2" ng-click="menu_click($event);footer('base_mytraining');MyTraining();" id="MyTraining_base_button"></a></li>
				<li ng-class="{ 'current': user_home_base }"><a data-num="3" ng-click="menu_click($event);footer('base_user_home');user_home();" id="user_home_base_button"></a></li>
				<li ng-class="{ 'current': trainer_list_base }"><a data-num="4" ng-click="menu_click($event);footer('base_trainer_list');trainer_list();"  id="trainer_list_base_button"></a></li>
				<li ng-click="circle_open($event)" ng-class="{ 'current': management_base,'check2': management_base2 }">
					<a></a>
					<span class="circle">
						<div class="tweet"><a data-num="1" ng-click="menu_click($event);footer('base_timeline');tweet($event);">つぶやく</a></div>
						<div class="meal"><a data-num="5" ng-click="menu_click($event);footer('base_management');meal($event);">食事管理</a></div>
						<div class="weight"><a data-num="5" ng-click="menu_click($event);footer('base_management');weight($event);">体重管理</a></div>
					</span>
				</li>
			</ul>
		</nav>
	</footer>
</ons-bottom-toolbar>
</ons-page>